<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <p>
      You have successfully signed up to rubykampala.com,
      your name is: <% if @lead.name%><%= @lead.name %>.<%end%> and your email is <%= @lead.email%><br/>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</htm>
