    <% provide(:home_active,'active')%>
      <!-- Event section -->
      <section id="events">
        <h2>What we are about</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Ruby Meet Ups</h3>
                    <p>These are monthly meetups that happen at  <a href="https://outbox.co.ug/">OUTBOX.</a>  We meet to dicusstopics related to ruby programming, contribute to open source projects and also get involved in community outreach programs.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Rails Girls</h3>
                    <p>This year the event is happening on the 27th and 28th of April.
                        Our aim is to give tools and a community for women to understand technology and to build their ideas.Read more and apply to be a part of it <a href="http://railsgirls.com/uganda.html" target="_blank">here</a></p>
                </div>
                <div class="col-sm-4">
                    <h3>Community Outreach</h3>
                    <p>One of our aspirations is to reach out to underserved communities and expose them to coding for social change. We believe that this can help to reduce the unemployment scurge our country is facing.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Organisers -->
       <section id="team">
        <div class="container">
            <h2 style="color: white;">Meet our team</h2>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/alexshyaka.jpg" width="128" height="128" alt="Alex Shyaka face" class="rounded-circle">
                    <h4 style="color: white;"><a href="http://www.alexshyaka.site" target="_blank">Alex Shyaka</a></h4>
                    <p style="color: white;">Founder and Trainer: <a href="http://www.therailsshop.club" target="_blank">Therailsshop-</a> a ruby coding and training studio.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/john.jpg" alt="Joannah Nanjekye" class="rounded-circle">
                    <h4 style="color: white;">Joannah Nanjekye</h4>
                    <p style="color: white;">Software Engineer, <a href="https://www.apress.com/fr/book/9781484229545" target="_blank">Author of Python 2 and 3 compatibility</a></p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/jenny.jp" alt="Solomon Opio face" class="rounded-circle">
                    <h4 style="color: white;">Solomon Opio</h4>
                    <p style="color: white;">Community lead at <a href="http://www.outbox.co.ug">OUTBOX</a> a leading tech-hub in Kampala</p>
                </div>
            <!--     <div class="col-sm-3">
                    <img src="img/jim.jpg" alt="Man's face" class="img-circle">
                    <h4>Jim Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div> -->
            </div>
        </div>
    </section>

    <section id="signup">
        <div class="container">
            <h2>Get our handcrafted newsletter</h2>
            <p class="lead">We should probably have a contact us form here instead of this.</p>
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Put your real address in here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-lg" type="button">Handcraft it</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        crafted with &hearts; at home all day today by <a href="http://alexshyaka.site">alex shyaka</a>
    </footer>
