    <% provide(:home_active,'active')%>
      <!-- Event section -->
      <section id="events">
        <h2>Events</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Ruby Meet Ups</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Rails Girls</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Community Outreach</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Organisers -->
       <section id="team">
        <div class="container">
            <h2 style="color: white;">Meet our team</h2>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/assets/alexshyaka.jpg" width="128" height="128" alt="Woman's face" class="rounded-circle">
                    <h4 style="color: white;">alex shyaka</h4>
                    <p style="color: white;">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/john.jpg" alt="Man's face" class="rounded-circle">
                    <h4 style="color: white;">John Doe</h4>
                    <p style="color: white;">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/jenny.jpg" alt="Woman's face" class="rounded-circle">
                    <h4 style="color: white;">Jenny Doe</h4>
                    <p style="color: white;">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
            <!--     <div class="col-sm-3">
                    <img src="img/jim.jpg" alt="Man's face" class="img-circle">
                    <h4>Jim Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div> -->
            </div>
        </div>
    </section>

    <section id="signup">
        <div class="container">
            <h2>Get our handcrafted newsletter</h2>
            <p class="lead">We should probably have a contact us form here instead of this.</p>
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Put your real address in here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-lg" type="button">Handcraft it</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        crafted with &hearts; at home all day today by <a href="http://alexshyaka.site">alex shyaka</a>
    </footer>
