<div class="container contact-page">
  <h1> Thank you for your message.</h1>
  <p>We shall get back to you soon.</p>
</div>

<!-- .container
  h1 Thank you for your message.
  p We'll get back to you soon. -->
