<% title 'All posts' %>
<%provide(:author,'active')%>
<% provide(:blog_active,'active')%>
<div class="row">
  <div>
     <%= link_to 'New Event', new_authors_post_path, class: 'btn btn-lg btn-primary'%>
  </div>
  <br>
  <table class="table table-striped">
    <tr>
      <th colspan="5">Title</th>
    </tr>
    <%= render @posts%>
  </table>
</div>

