<tr>
  <td><%= link_to post.title, author_post_path(post)%></td>
  <td></td>
  <td><%= link_to 'Edit', edit_author_post_path(post), class:'btn btn-md btn-warning'%></td>
  <td><%= link_to 'Remove', author_post_path(post), method: :delete, data:
  {confirm:'Are you sure ?'}, class:'btn btn-md btn-danger'%></td>
</tr>
