<div class="cover">
    <div class="cover-text">
        <h1 style="color: white;">The Kampala Ruby Community. RAILSGIRLS/KIDS IS HERE</h1>
        <p style="color: white; font-weight: 160px;" class="lead">This weekend 27th and 28th of April we are hosting the railsgirls/kids event at OUTBOX. Click button below to see details</p>
        <!-- <a href="#why-us" role="button" class="btn btn-danger btn-lg">Drop us a message</a> -->
        <%= link_to "SEE MORE EVENT DETAILS", posts_path, class:'btn btn-success btn-lg'%>
    </div>
</div
