<div class="cover">
    <div class="cover-text">
        <h1>The Kampala Ruby Community.</h1>
        <p class="lead">We are a bunch of ruby developers that are passionate about using
        technology to create social change.</p>
        <a href="#why-us" role="button" class="btn btn-danger btn-lg">Drop us a message</a>
    </div>
</div>
