  <footer>
        <div class="row">
            <div class="col-sm-12">
                <a href="https://www.facebook.com/groups/rubykampala/" target="_blank"><i class="fa fa-facebook" style="font-size: 40px;"></i></a>
                <a href="https://twitter.com/rubykampala" target="_blank"><i class="fa fa-twitter" style="font-size: 40px;"></i></a>
                <a href="https://www.instagram.com/therailsshop/" target="_blank"><i class="fa fa-instagram" style="font-size: 40px;"></i></a>
                <p>crafted with &hearts; by <a href="http://therailsshop.club">Therailsshop(coding club for kids)</a></p>
            </div>
        </div>


    </footer>
